compile_commands.json
CMakeFiles
CMakeCache.txt
cmake_install.cmake
.cache
Makefile
vcpkg_installed/
ants
*.log
build*/
.vscode
venv
diagrams
tmp/
.DS_Store
node_modules
scripts/ants_debug.gdb
.github/issues/2026-02-03-test-failures.md
